#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}

body {
  background-color: rgb(240, 208, 253);
}

h1 {
  display: block;
  color: rgb(255, 155, 155);
  text-align: center;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
} 
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
img {
  display: block;
  margin: 0 auto 40px;
  width: 100%;
  border-radius: 20%;
  object-fit: cover;
 aspect-ratio: 1/1;
  box-shadow: 0 5px 15px rgba(185, 48, 17, 0.5);
}